/**
    Collage-Css
    @creator - Min Si Thu
    @Liscene - MIT
    @dateOfCreation - 12/27/2018 12:01AM Myanmar,Mandalay,Amarapura
    @Contact - archimedes557@gmail.com
    @facebook - https://www.facebook.com/profile.php?id=100008064318566
    @github - https://github.com/MinSiThu
*/
@import url(http://fonts.googleapis.com/css?family=Roboto);
html, body {
  margin: 0;
  padding: 0; }

footer {
  width: 100%;
  display: block;
  padding: 5px 2%; }

p {
  font-size: 12pt;
  font-family: Roboto; }

a {
  text-decoration: none; }
  a:hover {
    color: #D6D6D6; }

.bg-primary {
  background-color: #643F88;
  color: white; }

.bg-secondary {
  background-color: #D6D6D6;
  color: black; }

.bg-info {
  background-color: #039BAA;
  color: white; }

.bg-warning {
  background-color: #F7BD00;
  color: white; }

.bg-success {
  background-color: #22CE12;
  color: white; }

.bg-danger {
  background-color: #C10037;
  color: white; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.margin-small {
  margin: 9px; }

.margin-top-small {
  margin-top: 9px; }

.margin-bottom-small {
  margin-bottom: 9px; }

.margin-left-small {
  margin-left: 9px; }

.margin-right-small {
  margin-right: 9px; }

.margin-medium {
  margin: 14px; }

.margin-top-medium {
  margin-top: 14px; }

.margin-bottom-medium {
  margin-bottom: 14px; }

.margin-left-medium {
  margin-left: 14px; }

.margin-right-medium {
  margin-right: 14px; }

.margin-large {
  margin: 18px; }

.margin-top-large {
  margin-top: 18px; }

.margin-bottom-large {
  margin-bottom: 18px; }

.margin-left-large {
  margin-left: 18px; }

.margin-right-large {
  margin-right: 18px; }

.border-topLeft-small {
  border-top-left-radius: 10px; }

.border-topRight-small {
  border-top-right-radius: 10px; }

.border-bottomRight-small {
  border-bottom-right-radius: 10px; }

.border-bottomLeft-small {
  border-bottom-left-radius: 10px; }

.border-all-small {
  border-radius: 10px; }

.border-topLeft-medium {
  border-top-left-radius: 15px; }

.border-topRight-medium {
  border-top-right-radius: 15px; }

.border-bottomRight-medium {
  border-bottom-right-radius: 15px; }

.border-bottomLeft-medium {
  border-bottom-left-radius: 15px; }

.border-all-medium {
  border-radius: 15px; }

.border-topLeft-large {
  border-top-left-radius: 20px; }

.border-topRight-large {
  border-top-right-radius: 20px; }

.border-bottomRight-large {
  border-bottom-right-radius: 20px; }

.border-bottomLeft-large {
  border-bottom-left-radius: 20px; }

.border-all-large {
  border-radius: 20px; }

.title {
  font-size: 18pt; }

.subtitle {
  font-size: 14pt; }

html, body {
  margin: 0;
  padding: 0; }

.container {
  width: 96%;
  margin: 10px auto;
  display: block; }

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  height: inherit;
  display: flex; }
  .row .col-1 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 8.3333333333%;
    display: block;
    height: inherit; }
  .row .col-2 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 16.6666666667%;
    display: block;
    height: inherit; }
  .row .col-3 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 25%;
    display: block;
    height: inherit; }
  .row .col-4 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 33.3333333333%;
    display: block;
    height: inherit; }
  .row .col-5 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 41.6666666667%;
    display: block;
    height: inherit; }
  .row .col-6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 50%;
    display: block;
    height: inherit; }
  .row .col-7 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 58.3333333333%;
    display: block;
    height: inherit; }
  .row .col-8 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 66.6666666667%;
    display: block;
    height: inherit; }
  .row .col-9 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 75%;
    display: block;
    height: inherit; }
  .row .col-10 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 83.3333333333%;
    display: block;
    height: inherit; }
  .row .col-11 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 91.6666666667%;
    display: block;
    height: inherit; }
  .row .col-12 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    height: inherit; }

.row-margin-small .row {
  margin-bottom: 9px !important; }

.row-margin-medium .row {
  margin-bottom: 14px !important; }

.row-margin-large .row {
  margin-bottom: 18x !important; }

.col-margin-small > .col-1 {
  margin-left: 9px; }
.col-margin-small > .col-2 {
  margin-left: 9px; }
.col-margin-small > .col-3 {
  margin-left: 9px; }
.col-margin-small > .col-4 {
  margin-left: 9px; }
.col-margin-small > .col-5 {
  margin-left: 9px; }
.col-margin-small > .col-6 {
  margin-left: 9px; }
.col-margin-small > .col-7 {
  margin-left: 9px; }
.col-margin-small > .col-8 {
  margin-left: 9px; }
.col-margin-small > .col-9 {
  margin-left: 9px; }
.col-margin-small > .col-10 {
  margin-left: 9px; }
.col-margin-small > .col-11 {
  margin-left: 9px; }
.col-margin-small > .col-12 {
  margin-left: 9px; }

.col-margin-small div:first-child {
  margin-left: 0; }

.col-margin-medium > .col-1 {
  margin-left: 14px; }
.col-margin-medium > .col-2 {
  margin-left: 14px; }
.col-margin-medium > .col-3 {
  margin-left: 14px; }
.col-margin-medium > .col-4 {
  margin-left: 14px; }
.col-margin-medium > .col-5 {
  margin-left: 14px; }
.col-margin-medium > .col-6 {
  margin-left: 14px; }
.col-margin-medium > .col-7 {
  margin-left: 14px; }
.col-margin-medium > .col-8 {
  margin-left: 14px; }
.col-margin-medium > .col-9 {
  margin-left: 14px; }
.col-margin-medium > .col-10 {
  margin-left: 14px; }
.col-margin-medium > .col-11 {
  margin-left: 14px; }
.col-margin-medium > .col-12 {
  margin-left: 14px; }

.col-margin-medium div:first-child {
  margin-left: 0; }

.col-margin-large > .col-1 {
  margin-left: 18px; }
.col-margin-large > .col-2 {
  margin-left: 18px; }
.col-margin-large > .col-3 {
  margin-left: 18px; }
.col-margin-large > .col-4 {
  margin-left: 18px; }
.col-margin-large > .col-5 {
  margin-left: 18px; }
.col-margin-large > .col-6 {
  margin-left: 18px; }
.col-margin-large > .col-7 {
  margin-left: 18px; }
.col-margin-large > .col-8 {
  margin-left: 18px; }
.col-margin-large > .col-9 {
  margin-left: 18px; }
.col-margin-large > .col-10 {
  margin-left: 18px; }
.col-margin-large > .col-11 {
  margin-left: 18px; }
.col-margin-large > .col-12 {
  margin-left: 18px; }

.col-margin-large div:first-child {
  margin-left: 0; }

.stack {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  height: inherit; }
  .stack > .box-1 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 8.3333333333%;
    display: block; }
  .stack > .box-2 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 16.6666666667%;
    display: block; }
  .stack > .box-3 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 25%;
    display: block; }
  .stack > .box-4 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 33.3333333333%;
    display: block; }
  .stack > .box-5 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 41.6666666667%;
    display: block; }
  .stack > .box-6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 50%;
    display: block; }
  .stack > .box-7 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 58.3333333333%;
    display: block; }
  .stack > .box-8 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 66.6666666667%;
    display: block; }
  .stack > .box-9 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 75%;
    display: block; }
  .stack > .box-10 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 83.3333333333%;
    display: block; }
  .stack > .box-11 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 91.6666666667%;
    display: block; }
  .stack > .box-12 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    display: block; }

.responsive-img {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
